/* Header */
header {
    width: 500px;
    height: 100px;
    background-color: rgb(250, 0, 0);
}

/* Main */
table {
    width: 80%;
    background-color: grey;
}
#jonas1 {
    background-color: rgb(21, 0, 255); 
}
#jonas2 { 
    background-color: rgb(21, 0, 255, 0.51);
}
#anja1 { 
    background-color: rgb(255, 0, 0);
}
#anja2 { 
    background-color: rgb(255, 0, 0, 0.51);
}
#jan1 { 
    background-color: rgb(0, 255, 30);
}
#jan2 { 
    background-color: rgb(0, 255, 30, 0.51);
}
#anna1 { 
    background-color: rgb(255, 225, 0);
}
#anna2 { 
    background-color: rgb(255, 225, 0, 0.51);
}
#joost1 { 
    background-color: rgb(144, 0, 255);
}
#joost2 { 
    background-color: rgb(144, 0, 255, 0.51);
}
#anne1 { 
    background-color: rgb(255, 0, 208);
}
#anne2 { 
    background-color: rgb(255, 0, 208, 0.51);   
}

table th {
    background-color: lightblue;
}

table td {
    padding: 10px;
}

/* Footer */
footer {
    width: 500px;
    height: 100px;
    background-color: rgb(13, 255, 255);
}